<nav id="sidebar">
    <div class="sidebar-header">
        <img src="/img/logo-new.svg" alt="bootraper logo" class="app-logo" width="150px">
    </div>
    <ul class="list-unstyled components text-secondary">
        <li>
            <a href="/admin/dashboard"><i class="fas fa-home"></i>Dashboard</a>
        </li>
        <li>
            <a href="/admin/users"><i class="fas fa-users"></i>Users</a>
        </li>
        <!-- <li>
            <a href="/companies"><i class="fas fa-building"></i>Company</a>
        </li> -->
        <li>
            <a href="/admin/issues"><i class="fas fa-tasks"></i>Issues</a>
        </li>
        <li>
            <a href="/admin/categories"><i class="fas fa-list-alt"></i>Issue Categories</a>
        </li>
    </ul>
</nav>
<script>
        // let token = JSON.parse('');
        // // let token= document.cookie
        // console.log(token)
</script>